.Filters {
  display: flex;
  font-family: Open Sans, sans-serif;
  font-size: 13px;
  justify-content: center;
  margin-top: 50px;

  &__header-container {
    border: 0.3px solid #00000040;
    display:table;
    height: 50px;
    text-align: center;
    width: 188px;
  }

  &__title {
    display: table-cell;
    vertical-align: middle;
    font-size: 10px;
  }

  &__label-sorted-container {
    display: table-cell;
    vertical-align: middle;
    font-size: 10px;
  }

  &__subfilter {
    border: 0.3px solid #00000040;
    width: 188px;

    &::after {
      border: solid transparent;
      content: "";
      height: 20px;
      width: 188px;
    }
  }

  &__subtitle {
    font-size: 11px;
    padding: 14px 19px;
  }

  &__item-container {
    padding: 0 11px 8px 11px;
    font-size: 12px;
    display: flex;

    & input {
      margin-right: 10px;
    }
  }

  &__view-more {
    font-size: 10px;
    color: blue;
    padding: 0 18px;
    margin-bottom: 10px
  }

  &__results-container {
    border: 0.3px solid #00000040;
    margin-left: 10px;
    width: 300;
  }

  &__title-container {
    display:table;
    height: 50px;
    text-align: center;
    width: 614px;

  }

  &__select-relevance {
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 2px;
    color: gray;
    cursor: pointer;
    font: inherit;
    font-size: 10px;
    font-weight: 1px;
    height: 26px;
    margin-left: 5px;
    padding: 3px;
    width: 80px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &__arrow {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid gray;
    bottom: 1px;
    display: inline-block;
    height: 0;
    width: 0;
    position: relative;
    right: 21px;
  }

  &__article {
    border: 0.3px solid #00000040;
    padding: 23px 0px 0px 14px;
    margin: 0 8px;
    display: flex;
  }

  &__image-course {
    height: 72px;
    margin-right: 26px;
    width: 137px;
  }

}
