div.nav-bar
  ul.menu
    each val in links
      if val.url
        li
          a(href=val.url)= val.label
      else
        li
          button(type='button')= val.label
          ul
            each item in val.links
              li
                a(href=item.url)= item.label